.resizable-table th{
    position:relative !important;
}

.rtc-handle{
    position:absolute;
    top:0;
    right:0;
    width:8px;
    height:100%;
    cursor:col-resize;
    user-select:none;
    z-index:9999;
    background:rgba(0,0,0,.08);
}

.rtc-text{
    display:block;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.resizable-table td{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
