.resizable-table{
    table-layout:fixed;
}

.resizable-table th{
    position:relative !important;
    overflow:hidden;
    white-space:nowrap;
    padding-right:40px !important;
}

.rtc-text{
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.rtc-handle{
    position:absolute;
    top:0;
    right:0;
    width:8px;
    height:100%;
    cursor:col-resize;
    user-select:none;
    z-index:9999;
}

.resizable-table td{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
